@import url('https://fonts.googleapis.com/css2?family=Sono:wght@600&display=swap');

body{
    margin: 0;
    overflow: hidden;
}
canvas{
    background: red;
}
#header{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
    transition: transform 0.5s ease;
	transform: translatey(-340px);
	border: 3px solid $color-dark;
	padding: 20px 20px;
	background-color: transparent;
	color: #fff;
	font-size: 5vh;
    font-family: Sono;
}
P{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
    transition: transform 0.5s ease;
	transform: translatey(-270px);
	border: 3px solid $color-dark;
	padding: 20px 20px;
	background-color: transparent;
	color: #fff;
	font-size: 3vh;
    font-family: Sono;
}
